@import "colors";
.form-body{
    background-color: rgba(16, 0, 29, 0.32);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    >.form-page{
        background: transparent;
        backdrop-filter: blur(20px);
        background-color: rgba(16, 0, 29, 0.32);
        width: 80%; 
        height: 70vh;
        border-radius: 10px;
        display: flex; 

        >.left{
            // background-color: aquamarine;
            border-radius: 10px 0px 0px 10px;
            width: 60%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .lognform{
                // border: 2px solid red;
                width: 60%;
                height: 110%;
                background-image:linear-gradient(60deg, rgb(248, 166, 255), rgb(255, 126, 148)); 
                backdrop-filter: blur(20px);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: flex-start;
                padding: 20px;

                >.up{
                    .register{
                  font-size: 3rem;
                  border-bottom: 4px solid rgb(255, 255, 255);
                }
            }

                .dwn{
                    // border: 2px solid red;
                    width: 100%; 
                    height: 65%;
                    padding: 0 30px;

                    >.form-grop{

                        >.text-danger{
                            color: yellow; 
                            font: 500 1rem $text;
                          }

                        label{
                            font: 600 1.2rem $text;
                        }

                        >input{
                            width: 100%;
                            height: 50px;
                            margin: 5px 0 30px 0;
                            border-radius: 10px;
                            outline: 0;
                            padding: 0 20px;
                            font: 600 1rem $text;
                        }
                        #pass1{
                            margin-bottom: 15px;
                        }
                    }
                   

                    .forget{
                        width: 100%; 
                        display: flex;
                        justify-content: flex-end;
                        font: 600 1rem $text; 
                        cursor: pointer;
                    }


                    

                }
                .dwn1{
                    // border:2px solid red ;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    width: 100%;
                    height: 100px;

                    >.new{
                        margin-top: 10px;
                        width: 85%;
                        display: flex;
                        justify-content: flex-end;

                        span{
                            visibility: hidden;
                        }
                        font: 600 1rem $text;
                        a{
                            color: black;
                            cursor: pointer;
                        }
                    }

                    #lbtn{
                        width: 85%;
                        height: 50px;
                        border-radius: 50px; 
                        font: 700 1.4rem $text;
                        cursor: pointer;
                        // background-image: linear-gradient(210deg, rgb(249, 197, 255), rgb(255, 187, 199));
                        background-color: rgba(255, 211, 211, 0.874);
                        // color: white;

                        &:hover{
                            // background-image: linear-gradient(210deg, rgb(247, 179, 255), rgb(255, 173, 188));
                            opacity: 0.8;
                        }
                    }
                }
            }

        }
        >.right{
            // background-color: rgb(145, 64, 170);
            border-radius: 0px 10px 10px 0px;
            height: 100%;
            width: 40%;

            >img{
                width: 100%;
                height: 100%;
                border-radius: 10px 0px 0px 10px;
                // object-fit: cover;
            }
        }
    }
    
}

